<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hotel Filton</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Pozdravljeni dragi gostje!</h1>
    <form method="post" action="/rezultat">
        <label for="ime_priimek">Ime in priimek: </label>
        <input type="text" id="ime_priimek" name="input_ime">
        <br>
        <label for="e_mail">Email naslov: </label>
        <input type="email" id="e_mail" name="input_email">
        <br>
        <label for="sporocilo">Vpisi svoje sporocilo: </label>
        <input type="text" id="sporocilo" name="input_sporocilo">
        <button type="submit">Poslji</button>
    </form>
</body>
</html>