<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sporocilo</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Sporocilo</h1>

    <p>Ime in priimek: {{ posamezno_sporocilo.imepriimek }}</p>
    <p>Email naslov: {{ posamezno_sporocilo.enaslov }}</p>
    <p>Sporocilo: {{ posamezno_sporocilo.sporocilo }}</p>
    <p>ID sporocila: {{ posamezno_sporocilo.key.id() }}</p>

    <a href="/sporocilo/{{ posamezno_sporocilo.key.id() }}/edit" ><button>Uredi</button></a>
    <a href="/sporocilo/{{ posamezno_sporocilo.key.id() }}/delete" ><button>Izbrisi</button></a>
</body>
</html>